@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
  
  html, body {
    @apply antialiased bg-[#0f172a] text-slate-50 overscroll-none select-none;
    -webkit-tap-highlight-color: transparent;
  }
}
